package ${base_package}.client.dto.cmd;

import com.yss.cloud.dto.CommandDTO;
import lombok.Data;
import lombok.EqualsAndHashCode;
import ${validation_namespace}.validation.constraints.NotBlank;
import ${validation_namespace}.validation.constraints.NotNull;
import java.util.Date;
import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.time.LocalDate;

/**
 * ${domain_desc} 更新命令
 *
 * @author ${author}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${domain_class}UpdateCmd extends CommandDTO {

${field_declarations}
}
