<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <groupId>com.yss.datamiddle</groupId>
        <artifactId>yss-datamiddle-parent</artifactId>
        <version>2.0.0-SNAPSHOT</version>
        <relativePath />
    </parent>
    <modelVersion>4.0.0</modelVersion>

    <artifactId>{{project_name}}-parent</artifactId>
    <version>1.0.0-SNAPSHOT</version>
    <packaging>pom</packaging>

    <name>{{project_name}}-parent</name>
    <description>{{project_description}}</description>

    <properties>
        <yss-components.version>2.0.0-SNAPSHOT</yss-components.version>
    </properties>

    <modules>
        <module>{{project_name}}-domain</module>
        <module>{{project_name}}-application</module>
        <module>{{project_name}}-infrastructure</module>
        <module>{{project_name}}-adapter</module>
        <module>{{project_name}}-bootstrap</module>
    </modules>

    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>com.yss.cloud</groupId>
                <artifactId>yss-components-bom</artifactId>
                <version>${yss-components.version}</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
            <dependency>
                <groupId>com.yss.cloud</groupId>
                <artifactId>yss-component-excel-mvc</artifactId>
                <version>${yss-components.version}</version>
            </dependency>
            <dependency>
                <groupId>com.yss.cloud</groupId>
                <artifactId>yss-component-distributed-id</artifactId>
                <version>${yss-components.version}</version>
            </dependency>
            <dependency>
                <groupId>com.yss.cloud</groupId>
                <artifactId>yss-component-spring-cache</artifactId>
                <version>${yss-components.version}</version>
            </dependency>

            <dependency>
                <groupId>com.yss.datamiddle</groupId>
                <artifactId>{{project_name}}-domain</artifactId>
                <version>${project.version}</version>
            </dependency>
            <dependency>
                <groupId>com.yss.datamiddle</groupId>
                <artifactId>{{project_name}}-application</artifactId>
                <version>${project.version}</version>
            </dependency>
            <dependency>
                <groupId>com.yss.datamiddle</groupId>
                <artifactId>{{project_name}}-infrastructure</artifactId>
                <version>${project.version}</version>
            </dependency>
            <dependency>
                <groupId>com.yss.datamiddle</groupId>
                <artifactId>{{project_name}}-web</artifactId>
                <version>${project.version}</version>
            </dependency> {{db_dependency}} </dependencies>
    </dependencyManagement>

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-source-plugin</artifactId>
                <executions>
                    <execution>
                        <id>attach-sources</id>
                        <goals>
                            <goal>jar</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>